<div>
    <nav>
        <h1><a href="/">my library</a></h1>
        <ul>
            <li><a href="/author">author</a></li>
            <!-- <li><a href="author/new">all author</a></li> -->
            <li><a href="author/new">create author</a></li>
        </ul>
    </nav>
</div>
